%h1 Quancom Relay Control
%p
  %p{:class => @message_style }= @message

%h2 Current Relay Status
%table{ :id => 'relays' }
  %tr
    %td relay
    - @relays.each do |id,state|
      - if state
        %td{ :class => 'on' }= id
      -else
        %td{ :class => 'off' }= id
  %tbody
    %tr
      %td state
      - @relays.each do |id,state|
        - if state
          %td{ :class => 'on' } on
        -else
          %td{ :class => 'off' } off

%h2 Configured Rules
%table
  %tr
    %th type
    %th active
    %th script
    %th next
    %th created
    %th actions
  %tbody
    - @rules.each do |row|
      %tr
        %td= type_to_name row.type
        %td= row.active
        %td= row.script ? row.script.name : '-'
        %td
        %td= row.created_at.strftime("%Y-%m-%d %H:%M")
        %td 
          %a(href="/rule/form/#{row.id}") edit
          |
          %a(href="/rule/form/delete/#{row.id}") delete
          |
          %a(href="/rule/form/assign/#{row.id}") assign a script
          |
          %a(href="/rule/toggle/#{row.id}") #{row.active ? "deactivate" : "activate"}
%a(href="/rule/form") create new rule
|
%a(href='/status') Show extended Status

%h2 Available Scripts
%table
  %tr
    %th name
    %th content
    %th created
    %th actions
  %tbody
    - @scripts.each do |row|
      %tr
        %td= row.name
        %td= row.text[0..60]
        %td= row.created_at.strftime("%Y-%m-%d %H:%M")
        %td
          %a(href="/script/form/#{row.id}") edit
          %a(href="/script/form/delete/#{row.id}") delete
%a(href="/script/form") create new script


