.row    
  .span16
    %p
      %p{:class => @message_style }= @message

.row
  .span16
    %h2 Current Relay Status
    %table.table{ :id => 'relays' }
      %tr
        %td relay
        - @relays.each do |id,state|
          - if state
            %td{ :class => 'on' }= id
          - else
            %td{ :class => 'off' }= id
      %tbody
        %tr
          %td state
          - @relays.each do |id,state|
            - if state
              %td{ :class => 'on' } on
            - else
              %td{ :class => 'off' } off
        %tr
          %td action
          - @relays.each do |id,state|
            - if state
              %td
                %a.btn.btn-danger.btn-mini(href="/relay/off/#{id}") set off
            - else
              %td
                %a.btn.btn-success.btn-mini(href="/relay/on/#{id}") set on
    Force all relays
    .btn-group
      %a.btn.btn-success(href='/relay/all_on') on
      %a.btn.btn-danger(href="/relay/all_off") off

.row
  .span16
    %h2 Configured Rules
    %table.table
      %tr
        %th type
        %th active
        %th script
        %th next
        %th created
        %th actions
      %tbody
        - @rules.each do |row|
          %tr
            %td= type_to_name row.type
            %td= row.active ? "yes" : "-"
            %td
              -if row.script
                %a(href="/script/form/#{row.script_id}")= row.script.name
              -else
                ='-'
            %td= row.execute_at ? row.execute_at : (row.interval ? "every "+row.interval+"s" : '-')
            %td= row.created_at.strftime("%Y-%m-%d %H:%M")
            %td 
              .btn-group
                %a.btn.btn-small(href="/rule/toggle/#{row.id}") #{row.active ? "deactivate" : "activate"}
                %a.btn.btn-small(href="/rule/form/#{row.id}") edit
                %a.btn.btn-small(href="/rule/form/assign/#{row.id}") assign a script
                %a.btn.btn-small.btn-danger(href="/rule/form/delete/#{row.id}") delete
    .btn-group
      %a.btn(href="/rule/form") create new rule
      %a.btn(href='/status') show status
      %a.btn.btn-danger(href='/clear') clear current queue

.row
  .span16
    %h2 Available Scripts
    %table.table
      %tr
        %th name
        %th content
        %th created
        %th actions
      %tbody
        - @scripts.each do |row|
          %tr
            %td= row.name
            %td= row.text[0..60].split(/\n/).join(';')
            %td= row.created_at.strftime("%Y-%m-%d %H:%M")
            %td
              .btn-group
                %a.btn.btn-small(href="/script/form/#{row.id}") edit
                %a.btn.btn-small.btn-danger(href="/script/form/delete/#{row.id}") delete
    .btn-group
      %a.btn(href="/script/form") create new script

